body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    background-image: url("https://www.google.co.in/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiK0MrRqtzPAhVHs48KHYqhDUkQjRwIBw&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DlKdTaSC_VV4&bvm=bv.135974163,d.c2I&psig=AFQjCNEevt-jfXrBf9RnWGXV1_V6U55wXg&ust=1476604518183788");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
                margin: 0 auto;
                color: #6f6f6f;
                max-width: 600px;
                padding-top: 60px;
                padding-right: 20px;
                font-family: cursive;
}